<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student</title>
</head>
 <body>
    <form action="/editSong" method="POST">
        <label for="Title">Enter Song Title:</label>
        <input id="Title" type="text" name="Title">
        <br>
        <label for="Artist">Enter Artist Name:</label>
        <input id="Artist" type="text" name="Artist">
        <br>
        <label for="ReleaseYear">Release Year?</label>
        <input id="ReleaseYear" type="text" name="ReleaseYear">
        <br>
        <input type="submit" value="Edit">
    </form>
 </body>
</html>