<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
        <style>
            /*font-family: 'Open Sans', sans-serif;
            font-family: 'Quicksand', sans-serif; 
            purple blue: #5327F2
            bright blue: #0511F2
            medium blue: #030BA6
            dark blue: #020873
            navy blue: #010440
            */
            body {
                background-color: #0511F2;
                color: #fff;
            }
            h1 {
                background-color: #010440;
                color: #fff;
                font-family: 'Quicksand', sans-serif; 
                font-weight: bolder;
                text-align: center;
                font-size: 3rem;
                border: 0.4rem solid white;
                max-width: 25rem;
            }
            main {
                background-color: #fff;
                color: #111;
                font-family: 'Open Sans', sans-serif;
                padding: 3rem;
                max-width: 50rem;
                margin: 2rem;
                border: 0.25rem solid #010440;
            }
            form {
                display: inline;
            }
            input[type="submit"] {
                font-family: 'Open Sans', sans-serif;
                background-color: #fff;
                color:#010440;
                text-transform: uppercase;
                border: 2px solid#010440;
                font-weight: bold;
                font-size: 0.975rem;
                border-radius: 0.2rem;
                padding: 0.25rem;
                transition: color 300ms ease-in, border 300ms ease-in, background-color 300ms ease-in;
            }
            input[type="submit"]:hover {
                background-color: #0511F2;
                color: white;
                border: 2px solid #111;
            }
        </style>
</head>
 <body>
     <h1>Edit Song</h1>
     <main>
         <div class="main">
            <form action="/editSong" method="POST" id="edit">
                <input id="SongId" type="hidden" name="SongId" value="<%=songs[0].id %>">
                <label for="Title">Enter Song Title:</label>
                <input id="Title" type="text" name="Title">
                <br><br>
                <label for="Artist">Enter Artist Name:</label>
                <input id="Artist" type="text" name="Artist">
                <br><br>
                <label for="ReleaseYear">Release Year?</label>
                <input id="ReleaseYear" type="text" name="ReleaseYear">
                <br><br>
                <input for="edit" type="submit" value="Save">
            </form>
            <form action='/' method="GET" id="cancel">
                <input for="cancel" type="submit" value="Cancel">
            </form>
        </div>          
    </main>
 </body>
</html>
